@charset "UTF-8"; /* Why you have the same of UTF-8, you already did it on meta HTML- remove it*/
@font-face {
  font-family: "idroid";
  src: url("fontes/idroid.otf") format("opentype");
}

body {
  background-color: #84e1ad;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  padding-top: 20px;
  text-align: center;
  color: white;
  background: linear-gradient(to top, #003518, #35df81);
}
header > h1 {
  margin-top: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 7px black;
}
header > p {
  padding-bottom: 20px;
  text-shadow: 1px 1px 7px black;
}
header > nav {
  background-color: #1a5c38;
  padding: 10px 0px 10px 20px;
  text-align: left;
}
.navLinks {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 20px;
}
main {
  background-color: white;
  margin: auto;
  max-width: 900px;
  padding: 20px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px 0px 10px 10px;
}
main > h1 {
  font-family: "idroid";
  text-align: left;
  color: #176338;
  padding: 0px 20px;
  margin: 0;
}
main > h2 {
  font-family: "idroid";
  text-align: left;
  background: linear-gradient(to right, #8ffabe, #ffffff);
  padding-left: 10px;
  color: #136b39;
  margin-left: 20px;
}
main > p {
  text-align: justify;
  text-indent: 20px;
  padding: 0px 20px;
}
span {
  color: rgb(7, 116, 56);
  font-weight: 800;
}
#videoAndroid {
  height: 466px;
  background-color: #1a5c38;
  padding: 30px;
}
#extra {
  background-color: #c5ebd6;
  margin: 20px;
  border-radius: 10px;
  padding-bottom: 15px;
}
#subtitle {
  background-color: #2fa866;
  margin: 0;
  padding: 10px;
  color: white;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
}
#extra > p {
  text-align: justify;
  text-indent: 20px;
  padding: 0px 10px;
}
ul {
  margin: 0;
  padding-left: 30px;
  list-style-image: url();
}
#lists {
  text-decoration: underline;
  display: flex;
  max-width: 860px;
  padding: 0;
  margin: 0;
}
#list1 {
  text-align: left;
  width: 50%;
  padding: 5px;
}
#list2 {
  text-align: left;
  width: 50%;
  padding: 5px;
}
footer {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #01441f;
}
footer > p {
  margin: 0;
}
.author {
  color: white;
}
